body {
    /*text-align: center;*/
}

#label {
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    height: 640px;
    width: 360px;
    margin: 20px auto;
    position: relative;
    float: left;
}

#get_image {
    position: absolute;
}

#edit_pic {
    position: absolute;
    display: none;
    background: #000;
}

#cover_box {
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0px;
    left: 0px;
}